
{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "プレ注文" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=4 %}
{% endblock %}

{% block checkout_title %}
    {% trans "注文プレビュー" %}
{% endblock %}

{% block place_order %}
	<form method="post" action="{% url 'checkout:preview' %}" id="place_order_form">
	<!-- <form method="post" action="" id="place_order_form"> -->
    <!-- <form method="post" action="{% url 'checkout:thank-you' %}" id="place_order_form"> -->
        {% csrf_token %}
        <input type="hidden" name="action" value="place_order" />

        {% comment %}
            支払いの詳細ページ（銀行カードなど）に機密データを送信するときは、
            データを保存したくないので、バインドされたフォームをプレビューテンプレートに渡して非表示のdivに表示します。
            その後、ユーザーが注文を確認すると、支払い情報が再送信されます。
        {% endcomment %}

        <div style="display:none">
            {% block hiddenforms %}{% endblock %}
        </div>

        <div class="form-group clearfix">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-9">
                     <button id='place-order' type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans '送信中...' %}">{% trans "注文する" %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock place_order %}
